.postit1 {
	background-attachment: scroll;
	background-image: url("/assets/images/simple_postit_yellow.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;		
	color: #363636;
	width: 100%;
	height: 124px;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.postit2 { 
	background-attachment: scroll;
	background-image: url("/assets/images/simple_postit_green.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;		
	color: #363636;
	width: 100%;
	height: 124px;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.postit3 { 
	background-attachment: scroll;
	background-image: url("/assets/images/simple_postit_red.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;		
	color: #363636;
	width: 100%;
	height: 124px;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.postit4 { 
	background-attachment: scroll;
	background-image: url("/assets/images/simple_postit_blue.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;		
	color: #363636;
	width: 100%;
	height: 124px;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.postit5 { 
	background-attachment: scroll;
	background-image: url("/assets/images/simple_postit_pink.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;		
	color: #363636;
	width: 100%;
	height: 124px;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.inside-postit {
	margin : 0px 0px 0px 0px;
	padding : 0px 0px 0px 5px;
	width: 85%;
	height: 100%;
	position : relative;
}

.inside-postit-header-and-text {
	max-height: 90px;
	overflow: hidden;	
}
	
.inside-postit-header {
	font-weight : bold;
	margin-top: 5px;
	width : 100%;
    word-wrap:break-word;
}


.inside-postit-text {
	width : 100%;
	height : 60px;
    word-wrap:break-word;
    overflow: hidden;
}


.inside-postit-footer { 
	position : absolute;
	bottom : 0px;
	width : 100%;
	bottom : 0px;
}


.inside-postit-footer-prio {
	width : 25%;
	float : left;
	text-align : left;
}

.inside-postit-footer-estimation {
	width : 25%;
	float : left;
	text-align : left;
}

.inside-postit-footer-age {
	width : 25%;
	float : left;
	text-align : left;
}

.inside-postit-footer-commenticon {
	width : 12%;
	float : left;
	text-align : left;
}

.inside-postit-footer-editicon {
	width : 12%;
	position : absolute;
	bottom : 0;
	right : 0;
}
